<!doctype html>
<title>Network Admin</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1 class="switch_theme" style="width: 100%; display: flex; gap: 5rem; justify-content: space-evenly;">👻 ClinCode</h1>
</nav>
<body>
  <div class="container">
    {% block body %}
    {% endblock %}
  </div>
</body>
<footer>
  <p>Universidad autonoma de Guadalajara</p>
  <p>© 2024 Todos los derechos reservados para mabby1110 </p>
  <a href="https://github.com/mabby1110/Gertrudis">github</a>
  <h1 class="switch_theme">👻</h1>
</footer>

<script src="{{ url_for('static', filename='util.js')}}"></script>